*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #00bfff;
    font-family: Verdana;
    color: #fff;
    font-size: 30px;
    padding: 20px;

}

#header{
    background: red;
    border-radius: 10px;
}

#main{
    background: orange;
    margin-top: 10px;
    border-radius: 10px;
    height: 450px;
}

#footer{
    background: blue;
    margin-top: 10px;
    border-radius: 10px;
}
